@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-margin-top: 150px;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width:768px) {
    width: 100%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
