@use "../assets/fonts/Yekan/yekan";
@use "../assets/fonts/iransansNum/iranSans";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "IranSansNumber", "Yekan", "tahoma";

  // Enable font feature setting 'ss02' for Firefox
  -moz-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for Webkit-based browsers
  -webkit-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for other browsers
  font-feature-settings: "ss02";

  scroll-behavior: smooth;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
