/* @use "../assets/fonts/Yekan/yekan"; */
/* @use "../assets/fonts/iransansNum/iranSans"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {

  // Enable font feature setting 'ss02' for Firefox
  -moz-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for Webkit-based browsers
  -webkit-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for other browsers
  font-feature-settings: "ss02";

  scroll-behavior: smooth;

  box-sizing: border-box;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width:768px) {
    width: 100%;
  }
}
