.infintie-scroll {
  padding: 8px 0px;
  user-select: none;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;

  .banner-text {
    min-width: max-content;

    &:nth-of-type(even) {
      text-shadow: 0px 0px 1px white;
      @apply text-black;
    }
  }
}
